body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top-bar {
  padding: 5px 10px;
  text-align: center;
  color: #f5f5f5;
}
.top-bar .close {
  float: right;
  padding-right: 10px;
}
.container {
  padding: 20px 15vw 20px 5vw;
  color: rgba(0,0,0,0.78)
}
p{
  line-height: 1.2em;
}
.me {
  font-size: 36px;
  color: rgba(0,0,0,0.34);
  line-height: 0.5em;
}
a {text-decoration: none; color: rgba(0,0,0,0.78)}
a.highlight {
  background-color: rgba(23,37,110,0.05);
  padding: 1px 5px;
  color: rgb(23,37,110)
}
.card::before {
  position: relative;
  top:0;
  left: 5px;
  content: "";
  padding: 0 5px;
  background-color: rgba(23,37,110,0.1);
}
.card {
  position: relative;
  left: -5px;
  color: rgb(23,37,110);
  text-transform: capitalize;
  font-size: 0.8em;
}
.card:hover {
  cursor: pointer;
}
.social-networks {
  position: fixed;
  bottom:0;
  margin-top: 30px;
  border-top: solid thin #f5f5f5;
  padding: 10px 0;
}

/* COLORS */
.color-primary { color: rgb(23,37,110) }
.bg-primary { background-color: rgba(23,37,110)}
.color-secondary {color: rgba(0,0,0,0.54)}
