<div class="bg-light py-4 text-center" style="position: relative; z-index: 1">
  <div class="container">
    <h4>Working on an interesting project? <strong>Let's chat</strong></h4>
    <p class="pt-2">
      <a target="_blank" href="mailto:doduronbi@gmail.com" class="px-2"><img src="assets/img/mail.svg" width="40" alt="Email" /></a>
      <a target="_blank" href="https://wa.me/2347036619688?text=Hi%20Damilola,%20I'm%20from%20your%20website" class="px-2"><img src="assets/img/whatsapp.svg" width="40" alt="WhatsApp" /></a>
    </p>
  </div>
</div>
