<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 class="me">Welcome<span class="color-secondary">!</span></h1>
      <p>
        I am <span class="color-secondary text-uppercase">Damilola Oduronbi</span>;<br />
        A <strong>Frontend Developer</strong> and <strong>UX Designer</strong> with <strong>over 6 years</strong> experience buiding usable digital products.
      </p>
      <p>
        I currently <strong>Lead</strong> the software development team at <a class="link" href="">TalentUp Africa</a> and also <strong>Mentor</strong> at <a class="link" href="">MentorCruise</a>.
        <br />
        Previously, I worked at <a class="link" href="">Guaranty Trust Bank, Nigeria</a> as a <strong>UX Design Consultant</strong> and as a <strong>Creative Strategist (UX Designer)</strong> at <a class="link" href="">Konga Online Shopping Ltd</a>.
      </p>
    </div>
  </div>
</div>
