<div class="container my-5">
  <div class="row">
    <div class="col-md-10 offset-md-1 text-center">
      <h1 class="me text-secondary mb-0">Damilola Oduronbi</h1>
      <p>
        <span class="font-large">Frontend Developer with over 6 years experience</span>
        <br />
        <span class="text-secondary">Team Lead @ <a target="_blank" href="https://talentup.africa/">TalentUp Africa</a></span>
        &nbsp;|&nbsp;
        <span class="text-secondary">Mentor @ <a target="_blank" href="https://mentorcruise.com/mentor/DamilolaOduronbi/">MentorCruise</a></span>
      </p>
      <p class="font-small">
        <strong>Previously</strong>
        <br />
        UX Design Consultant at <a target="_blank" href="https://www.gtbank.com/">Guaranty Trust Bank, Nigeria</a>
        <br />
        Creative Strategist (UX Designer) at <a target="_blank" href="https://www.konga.com/">Konga Online Shopping Ltd</a>
      </p>
    </div>
  </div>
  {% include tools.html %}
</div>
