<div class="container my-4">
  <div class="row">
    <div class="col-md-10 offset-md-1 text-center">
      <h1 class="me">Damilola Oduronbi</h1>
      <p>
        <span class="font-large">Frontend Developer and UX Designer with over 6 years experience</span>
        <br />
        <span class="text-secondary">Team Lead @ <a class="link" href="">TalentUp Africa</a></span>
        &nbsp;|&nbsp;
        <span class="text-secondary">Mentor @ <a class="link" href="">MentorCruise</a></span>
      </p>
      <p class="font-small">
        <strong><em>Previously</em></strong>
        <br />
        UX Design Consultant at <a class="link" href="">Guaranty Trust Bank, Nigeria</a>
        <br />
        Creative Strategist (UX Designer) at <a class="link" href="">Konga Online Shopping Ltd</a>
      </p>
    </div>
  </div>
  {% include tools.html %}
</div>
