 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
 }

 h1, h2, h3 {
   font-family: 'Playfair Display', serif;
 }

 .me {
   font-weight: 400;
   font-size: 72px;
 }

 .font-large {
   font-size: 24px;
 }

 .font-small {
   font-size: 14px;
 }

 header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 3;
 }

.header-social-icons {
  a {
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
      opacity: 1.0;
    }
  }
}

.navigation {
  a {
    padding-left: 7px;
    padding-right: 7px;
    color: rgba(0,0,0,0.32);

    &:hover {
      color: rgba(0,0,0,1) !important;
    }
  }
}

.current {
  text-decoration: underline;
  color: rgba(0,0,0,1) !important;
}

.content {
  padding-top: 10vh;
}

.intro {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

footer {
  a {
    color: rgba(255,255,255,0.7);

    &:hover {
      color: rgba(255,255,255,1.0);
    }
  }
}
